@model IEnumerable<Sensor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SensorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertThreshold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SensorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertThreshold.ThresholdID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SensorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SensorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SensorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
